@import "tailwindcss";

@theme{
    --animate-scrolling-text:scroll 15s linear infinite;

    @keyframes scroll {
        from{
            transform:translateX(0);
        }
        to{
            transform:translateX(-100%);

        }
        
    }

}

@utility hover-btn{
    @apply
    transition-all
    duration-300 
    ease-in-out
    hover:-translate-y-1;
}

@theme {

    --animate-shrink : shrink linear;

    @keyframes shrink {
        from{
            scale:1;
        }
        to{
            scale:0.9;
        }
    }
}

@utility scroll-shrink {
    animation-timeline:scroll();
}